{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
                    <div class="content-section">
                        <form  class="form-signin" method='POST' action=''>
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                            <legend class="border-bottom mb-4 ">Log In</legend>
                            <div class="form-label-group">
                                <i class="fas fa-envelope-square"></i>
                                <!-- {{ form.email.label(class ='form-control-label') }} -->
                                {% if form.email.errors %}
                                    {{ form.email(class ='form-control form-control-lg is-invalid ') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class ='form-control form-control-lg') }}
                                {% endif %}
                            </div>
                            <div class="form-label-group">
                                <i class="fas fa-key"></i>
                                <!-- {{ form.password.label(class ='form-control-label') }} -->
                                {% if form.password.errors %}
                                    {{ form.password(class ='form-control form-control-lg is-invalid ') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class ='form-control form-control-lg') }}
                                {% endif %}
                            </div>
                            <div class="form-check">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                            <!-- BUTTON -->
                            <div class="btn btn-lg btn-primary btn-block text-uppercase">
                                {{ form.submit(class = "btn btn-lg btn-primary btn-block text-uppercase") }}
                            </div>
                            <small class ="text-muted ml-2">
                                <a href="#"> Forgot password? </a>
                            </small>
                          </fieldset>
                        </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
