{% extends 'base.html' %}
{% block header %}
  <!--Custom js -->
  <script src="../static/js/bubbleman.js"></script>
  <script src="../static/js/bubble.js"></script>
  <!-- Custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
<body>
  <div class="container" style="position:relative;">
    <canvas id="surface" width= "100%" ></canvas>
    <div class="row" style="position:absolute; width:25px !important; display:block;z-index:9999">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5" style= "position:absolute; left:500px; top:40%">
          <div class="card-body" >
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" method='POST' action=''>
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                <legend class="border-bottom mb-4 ">Create Account</legend>
                <div class="form-label-group">
                    {{ form.username.label(class ='form-control-label') }}
                    {% if form.username.errors %}
                        {{ form.username(class ='form-control form-control-lg is-invalid ') }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class ='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class="form-label-group">
                    {{ form.email.label(class ='form-control-label') }}
                    {% if form.email.errors %}
                        {{ form.email(class ='form-control form-control-lg is-invalid ') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class ='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class="form-label-group">
                    {{ form.password.label(class ='form-control-label') }}
                    {% if form.password.errors %}
                        {{ form.password(class ='form-control form-control-lg is-invalid ') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class ='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <div class="form-label-group">
                    {{ form.confirmpassword.label(class ='form-control-label') }}
                    {% if form.confirmpassword.errors %}
                        {{ form.confirmpassword(class ='form-control form-control-lg is-invalid ') }}
                        <div class="invalid-feedback">
                            {% for error in form.confirmpassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmpassword(class ='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <!-- BUTTON -->
                <div class="btn btn-lg btn-primary btn-block text-uppercase">
                    {{ form.submit(class = "btn btn-lg btn-primary btn-block text-uppercase") }}
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
